<template>
    <v-app>
        <v-toolbar dark color="primary">
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-toolbar-title>Hello!</v-toolbar-title>
        </v-toolbar>
        <nuxt/>
    </v-app>
</template>
